.leaflet-routing-container {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  text-align: left;
  overflow: scroll !important;
}

.leaflet-routing-alt table tbody tr td:last-child {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .leaflet-routing-container {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* md */
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* lg */
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* xl */
}
@media only screen and (min-width: 1400px) {
  /* xxl */
  .leaflet-routing-container {
    width: 470px;
  }
}
